.carsoul{
width: 30%;
position: relative;
right: 10px;
bottom: 10px;
}

.gradient-background {
    background: linear-gradient(300deg, #ddee55, #e39ccc, #ed8a8a);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  